body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2e8cf;
    color: #220901;
}

header {
    background-color: #386641;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: center;
}

.header-image {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
}












